<html>
<title>Auto_car_spa</title>
<link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<script src="js/app.js"></script>

<!--   Shuffle your scripts HERE  -->
<script src="jquery-3.3.1.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/wow.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Lobster|MedievalSharp|Modern+Antiqua|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link type="text/css" rel="stylesheet" src="css/animate.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">


<link type="text/css" rel="stylesheet" src="css/animate.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

        <script src="js/app.js"></script>

<!--   Shuffle your scripts HERE  -->
        <script src="jquery-3.3.1.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="lib/js/wow.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="ptm.css">
<body ng-app="myApp" ng-controller="myController">

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar" style=" background:red;background: linear-gradient(to right,red,black); ">
        <ul>

            <li><a href="main.html#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i><b> CONTACT</b></a></li>
            <li><a href="combo.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-tag"></i> <b> OFFERS</b></a></li>
            <li><a href="main.html#whyus" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user" aria-hidden="true"></i> <b> WHY US</b></a></li>
             <li><a href="main.html#Services" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cogs" aria-hidden="true"></i> <b> SERVICES</b></a></li>
             <li><a href="main.html#gallery" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> <b> GALLERY</b></a></li>
             <li><a href="main.html#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> <b> ABOUT</b></a></li>
             <li><a href="main.html#home" class="w3-bar-item w3-button"><i class="fa fa-home" ></i><b> HOME</b></a></li>



           <img class="w3-item w3-bar"src="car_logo.png" alt="logo" style="width:135px; margin-left:-0.7rem;margin-top:-0.9rem;margin-bottom:-0.6rem; height:70px">







         </div>
       </div>
         <!-- Navbar on small screens -->
         <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
             <a href="" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> MY ACCOUNT</a>
             <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
             <a href="#combo.html" class="w3-bar-item w3-button" onclick="toggleFunction()">OFFERS</a>
             <a href="#gallery" class="w3-bar-item w3-button" onclick="toggleFunction()">GALLERY</a>
           <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>




           <img class="w3-item w3-bar"src="car_logo.png" alt="logo" style="width:150px; margin-left:40px; height:80px">



         </div>
       </div>
       <div id="top"></div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</br></br>

<h2 class="align">FILL THE DETAILS TO BOOK YOUR SERVICE</h2>
<p></p>
<div class="row" >
  <div class="col-75">
    <div class="container">
      <form method="post" ng-controller="myController">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="name" ng-model="name">
            <label for="vname"><i class="fa fa-user"></i>Vehicle Brand</label>
            <input type="text" id="vname" name="firstname" placeholder="Vehicle brand" ng-model="vname">

            <label for="fname"><i class="fa fa-user"></i>Vehicle Id</label>
            <input type="text" id="vid" name="vehicleid" placeholder="Vehicle Registration Number" ng-model="vid">

            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="xyz@example.com" required ng-model="email">

            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input  type="text" id="adr" name="address" placeholder="address" ng-model="addr">

            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input  type="text" id="city" name="city" placeholder="Bangalore" ng-model="city">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="KARNATAKA" ng-model="state">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input  type="text" id="zip" name="zip" placeholder="670001" ng-model="zip">
              </div>
            </div>
          </div>



          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="name on card">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="****-****-****-****">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="month">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="year">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="***">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
          <button  type="submit" class="btn" ng-click="signup()">Click to BOOK NOW</button>
        <h3 class="success animated bounce" style="color:green;">{{emsg.message}}</h3>
      </form>
    </div>
  </div>

</div>
<footer class=" w3-black w3-center w3-padding-50 w3-opacity w3-hover-opacity-off">
    <div class="row" >
       <div class= "col-xs-4">
       <br/><br/><br/> <h3><u>QUICK LINKS</u></h3>
        <a href="main.html#contact" > CONTACT</a><br/>

       <a href="combo.html" >OFFERS</a><br/>
        <a href="main.html#Services" >SERVICES</a><br/>
        <a href="main.html#gallery">GALLERY</a><br/>
        <a href="main.html#about" > ABOUT</a><br/>
        <a href="main.html#home" > HOME</a><br/>
      </div>
          <div class= "col-xs-4">
         <a href="#top" class="w3-button  w3-light-grey"><i class="fa fa-arrow-up w3-center "></i><u class="w3-center">To the top</u></a><br/><br/>
         <h3><u>FOLLOW US</u></h3>
      <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Car-spa-311090659468159/?modal=admin_todo_tour" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    </i></a><br/><br/>
    <img class="w3-item w3-bar"src="fa.png" style="width:150px; height: 135px;">
      </div>
      <div class="col-xs-4"><br/><br/><br>
        <h3><u> ADDRESS</u></h3>
        <p>Door No. 2934/E,2935/E,</p>
         <p>4th Floor, Rangalakshmi Golden Arcade, </p>
     <p> Vijaya Nagar, Bengaluru, Karnataka 560040</p>
      </div>

    </div>

  </footer>

</body>
</html>
