<html>
<title>Auto_car_spa</title>
<link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">
<link rel="stylesheet" src="style.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<script src="js/app.js"></script>
<link href="https://fonts.googleapis.com/css?family=Courgette|Marck+Script|Tangerine" rel="stylesheet">
<!--   Shuffle your scripts HERE  -->
<script src="jquery-3.3.1.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/wow.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Lobster|MedievalSharp|Modern+Antiqua|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link type="text/css" rel="stylesheet" src="css/animate.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

        <script src="js/app.js"></script>

<!--   Shuffle your scripts HERE  -->
        <script src="jquery-3.3.1.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="lib/js/wow.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

<body ng-app="myApp" ng-Controller="myController">

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar" style=" background:red;background: linear-gradient(to right,red,black); ">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <ul>
    <!-- <li> <a href="" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> <b> MY ACCOUNT</b></a>-->

      <!-- ----------------------------------login>
       <ul> <li><a> <button onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button w3-hide-small" ><i class="fa fa-user"></i><b>Login</b></button></a></li>
        <div id="id02" class="modal">

            <form class="modal-content animate" action="/action_page.php">
              <div class="imgcontainer1">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="img_avatar.png" alt="" class="avatar">
              </div>

              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required><br/><br/>

                <button type="submit">Login</button><br/><br/>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
              <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

              <div class="container1" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button><t/><t/>
                <span class="psw"><b1>Forgot</b1> <a href="#">password?</a></span>
              </div>
            </form>
          </div>


          <script>
          // Get the modal
          var modal = document.getElementById('id02');
          var modal1 = document.getElementById('id01');

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
                  }
                  else modal1.style.display="none";

          }
          </script>
          <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ >
      <li><a><button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button w3-hide-small" ><i class="fa fa-user"></i> <b>Sign Up</b></button></a></li>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label><br/><br/><br/>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal

/*
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}*/
</script-->

    </li>
     <li><a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope" style="col"></i><b> CONTACT</b></a></li>
     <li><a href="combo.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-tag"></i> <b> OFFERS</b></a></li>
     <li><a href="#whyus" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user" aria-hidden="true"></i> <b> WHY US</b></a></li>
      <li><a href="#Services" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cogs" aria-hidden="true"></i> <b> SERVICES</b></a></li>
      <li><a href="#gallery" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> <b> GALLERY</b></a></li>
      <li><a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> <b> ABOUT</b></a></li>
      <li><a href="#home" class="w3-bar-item w3-button"><i class="fa fa-home" ></i><b> HOME</b></a></li>



    <img class="w3-item w3-bar"src="car_logo.png" alt="logo" style="width:135px; margin-left:-0.7rem;margin-top:-0.9rem;margin-bottom:-0.6rem; height:70px">







  </div>
</div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> MY ACCOUNT</a>
      <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
      <a href="#combo.html" class="w3-bar-item w3-button" onclick="toggleFunction()">OFFERS</a>
      <a href="#gallery" class="w3-bar-item w3-button" onclick="toggleFunction()">GALLERY</a>
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>




    <img class="w3-item w3-bar"src="car_logo.png" alt="logo" style="width:150px; margin-left:40px; height:80px">



  </div>
</div>

<!--First Parallax Image with Logo Text-->
<div class="bgimg-1 w3-display-container " id="home">
  <div class="w3-container w3-center w3-animate-left">
    <h1  style="margin-top: 35%; margin-left: -55%; animation-delay: 200s; color:white; font-family: 'Marck Script', cursive;"><b>Bringing back that new car feeling......</b></h1>
  </div>

  <!--div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">AUTO <span class="w3-hide-small">CAR</span> SPA</span>
  </div-->
</div>

<!-- Container (About Section) -->
<div class=" w3-content  w3-padding-64" id="about">
  <h3 class="w3-center" style="margin-top:20px"><b>ABOUT</b></h3>
  <!--p class="w3-center"><em></em></p-->
  <p><b>Welcome to CAR SPA, a concept developed to organize the Car Cleaning segment to give the community a new definition of car care and detailing services which are easily accessible.It is a unique mechanized car cleaning concept where cars are getting pampered by the latest equipments including high pressure cleaning machines, spray injection and extraction machines, high powered vacuum cleaners, steam cleaners and so on.CAR SPA is here to stay and work dedicatedly towards spreading the awareness among car users about their car hygiene habits, cleanliness, durability of exterior look and other common cleaning tips.</b></p>

</div>
<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide"></span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="gallery">
  <h3 class="w3-center"><b>GALLERY</b></h3>
  <p class="w3-center"><em> Click on the images to make them bigger</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="b26.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="b2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="b23.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="b4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="b5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="bb.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="b29.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

    <div class="w3-col m3">
      <img src="b8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>

  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with gallery Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide"></span>
  </div>
</div>
<!-- Services table-->
<div class="w3-content w3-container w3-padding-64" id="Services">

  <h2 class="w3-center">AVAILABLE SERVICES </h2>


  <div class="w3-row-padding w3-padding-40 w3-theme-09" id="work">


    <a href="int.html">
<div class="w3-quarter">
<div class="w3-card w3-white">
  <a href="int.html"><img src="b5.jpg" alt="" style="width:100%">
  <div class="w3-container">
       <h3 class="w3-center">INTERIOR</h3></a>



  </div>
  </div>
</div>
<a href="tt.html">
<div class="w3-quarter">
<div class="w3-card w3-white">
  <a href="tt.html"><img src="b2.jpg" alt="" style="width:100%"></a>
  <div class="w3-container">
    <a href="tt.html"><h3 class="w3-center">EXTERIOR</h3></a>


  </div>
  </div>
</div>
<a href="Re_paint.html">
<div class="w3-quarter">
<div class="w3-card w3-white">
    <a href="cs.html"> <img src="pol3.jpg" alt="" style="width:100%">
  <div class="w3-container">
    <h3 class="w3-center">WAX & POLISH</h3></a>

  </div>
  </div>
</div>
<a href="com.html">

<div class="w3-quarter">
  <div class="w3-card w3-white">
    <img src="b22.jpg" alt="" style="width:100%">
    <div class="w3-container">

      <h3 class="w3-center">COMPLETE</h3></a>

    </div>
    </div>
  </div>


</div>



 </div>
 <!-- Fourth Parallax Image with Portfolio Text -->
<div class="bgimg-5 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide"></span>
  </div>
</div>
 <!-- Container (GRAPH Section) -->
 <div class="w3-content w3-container w3-padding-64" id="whyus"></div>
 <div class="row ">
  <h2 class="w3-center">WHY US</h2>
    <div class="" id="chart_div">
      </div>

  <script>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {

        var data = google.visualization.arrayToDataTable([
          ['YEAR', 'Cutomer Base'],
          ['2018', 817500],
          ['2017', 379200],
          ['2016', 269500],
          ['2015', 209900],
          ['2014', 152600]
        ]);

        var options = {
          title: 'Increase in DEMAND FOR CAR SPA SERVICES OVER SPAN OF YEARS',
          chartArea: {width: '50%'},
          hAxis: {
            title: 'SATISFIED USERS',
            minValue: 0
          },
          vAxis: {
            title: 'YEAR'
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
  </script>

    </div>



<!-- Fifth Parallax Image with Portfolio Text -->
<div class="bgimg-5 w3-display-container w3-opacity-min">

</div>


<!-- Container (Contact & MAP Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center"><b>CONTACT US</b></h3>
  <h3 style="margin-left:-53px;"><em> Reach us here..</em></h3>

  <div class="w3-row">
    <div class="col-sm-4 container-fluid" style="margin-left:-20rem;">

      <!-- Add Google Maps -->
      <div id="map" style="width:100%;height:500px">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62198.45582469081!2d77.49178138979974!3d13.009957981729066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dde41c9d541%3A0xdd5400ac1d9e0a9a!2sNIIT+Bangalore+Vijayanagar+Centre!5e0!3m2!1sen!2sin!4v1533414414072" width="600" height="450" frameborder="50" style="border:15" allowfullscreen></iframe>
      </div>

    </div>

    <div class="col-sm-6 col-sm-offset-6 w3-panel" id="cont">
      <div class="w3-large w3-margin-bottom" >
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> NIIT, Vijaynagar, Bangalore-560057<br/>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +91 9535929107 / 955662323<br/>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: carspa@gmail.com<br/>
        <br/>
      </div>
      <h3 style="margin-left:75px;"><b>FEEDBACK</b></h3>
      <h6>Give your feedback or leave us a note:</h6>
      <form method="get">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input id="name" class="w3-input w3-border" type="text" placeholder="Name" required name="Name" ng-model="name">
          </div>
          <div class="w3-half">
            <input id="email1" class="w3-input w3-border" type="text" placeholder="Email" required name="Email" ng-model="email1">
          </div>
        </div>
        <input id="comment" class="w3-input w3-border" type="text" placeholder="Message" required name="Message" ng-model="comment">
        <button class="w3-button w3-black w3-right w3-section" type="submit" ng-click="giveFeedback()">
          <i class="fa fa-paper-plane"></i> SEND FEEDBACK
        </button>
        <h3 ng-model="msg1" class="success animated bounce" style="color:green;">{{msg1.message}}</h3>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->


<footer class=" w3-black w3-center w3-padding-50 w3-opacity w3-hover-opacity-off">
    <div class="row" >
       <div class= "col-xs-4">
       <br/><br/><br/> <h3><u>QUICK LINKS</u></h3>
        <a href="#contact" > CONTACT</a><br/>

       <a href="combo.html" >OFFERS</a><br/>
        <a href="#Services" >SERVICES</a><br/>
        <a href="#gallery" ></a>GALLERY</a><br/>
        <a href="#about" > ABOUT</a><br/>
        <a href="#home" > HOME</a><br/>
      </div>
          <div class= "col-xs-4">
         <a href="#home" class="w3-button  w3-light-grey"><i class="fa fa-arrow-up w3-center "></i><u class="w3-center">To the top</u></a><br/><br/>
         <h3><u>FOLLOW US</u></h3>
      <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Car-spa-311090659468159/?modal=admin_todo_tour" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    </i></a><br/><br/>
    <img class="w3-item w3-bar"src="fa.png" style="width:150px; height: 135px;">
      </div>
      <div class="col-xs-4"><br/><br/><br>
        <h3><u> ADDRESS</u></h3>
        <p>Door No. 2934/E,2935/E,</p>
         <p>4th Floor, Rangalakshmi Golden Arcade, </p>
     <p> Vijaya Nagar, Bengaluru, Karnataka 560040</p>
      </div>

    </div>

  </footer>




<script>
    var modal = document.getElementById('foot')
        document.getElementById("foot").style.textDecorationColor = "red";

    </script>

<!-- Add Google Maps -->

<!--Map Script-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var myCenter = new google.maps.LatLng(12.968569,77.536987);
  var mapOptions = {center: myCenter, zoom: 5};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}
</script>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>









</body>
</html>
